* {
  padding: 0;
  margin: 0;
}

.Home-nav {
  background-image: url('C:\Users\Sumit Goyal\Desktop\work.webp');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  min-height: 70vh;
  border: 2px;
  border-bottom-right-radius: 35px;
}

.card-home {

  border: 1px solid white;
  box-shadow: 0px 10px 30px #ece6e6;
  border-radius: 10px;
}

.img1 {
  position: absolute;
  z-index: 1;
  border-radius: 5px;
  filter: drop-shadow(0px 10px 30px rgb(32, 32, 32));
}

.img2 {
  position: relative;
  left: 500px;
  top: 70px;
  border-radius: 5px;
  filter: drop-shadow(0px 10px 30px rgb(46, 45, 45));

}
.image{
   background-image: linear-gradient(rgba(255, 255, 255, 0.99), 40%, rgb(35, 35, 231));
  color: white;
  margin-top: 100px;
  
}
.textimg{
     margin-top: 90px;
}
.img1{
  margin-left: 200px;
}
.img2{
  margin-left: 80px;
}

.btnimg{
  margin-left: 120px;
  margin-bottom: 50px;
}

.startimg{
   margin-left: 50px;
}
.vertical{
  border-left: 2px solid rgb(162, 162, 227);
  margin-left: 40px;
  margin-bottom: 10px;
  height: 80px;
  position: relative;
  bottom: 40px;
}
.icon1{
  margin-left: 230px;
}
.icon2{
  margin-top: 120px;
}
.icon4{
  position: relative;
  right: 400px;
}
.icon5{
  position: relative;
  left: 40px;
}

.icon6{
  position: relative;
bottom: 100px; 
}
.icon7{
  position: relative;
bottom: 100px; 

}
.smhome{
  position: relative;
  left: 450px;
  border-radius: 10px;
  width: 500px;
  height: 480px;
}

.smhome1{
  position: relative;
  left: 450px;
  height: 300px;
  width: 500px;
  border-radius: 10px;
}
.smhome2{
  position: relative;
  left: 450px;
  height: 300px;
  width: 500px;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
}
.smhome3{
  position: relative;
  left: 450px;
  height: 230px;
  width: 500px;
  border-radius: 10px;
}
.cardimg{
  background-color: rgba(39, 39, 243, 0.842);
  border-radius: 10px;
  color: white;
  position: relative;
  top: 50px;
}
.textcard{
position: relative;
top: 40px;
left: 20px;
}
.textcardimg{
  position: relative;
  top: 30px;
  left: 15px;
}
.ptext{
  position: relative;
  top: 50px;
  width: 540px;
  margin-right: 560px;
}

li {
  list-style: none;
}

.footer {
  background-color: rgb(46, 46, 139);
  color: aliceblue;

}