*{
  padding: 0;
  margin: 0;
}

.Home-nav{
  background-image: url('C:\Users\Sumit Goyal\Desktop\work.webp');
  background-repeat: no-repeat;
  background-position: center;
  background-size:cover;
  min-height: 70vh;
  border: 2px;
border-bottom-right-radius: 35px;
}
.card-home {

  border: 1px solid white;
  box-shadow: 0px 10px 30px #ece6e6;
  border-radius: 10px;
}
li{
  list-style: none;
}
.footer{
  background-color: rgb(46, 46, 139);
  color: aliceblue;
  
}
